html { 
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {  
   box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*body {
  lost-utility: edit;
}*/

body {
  margin: 0;
  font-family: $font-exo;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

button {
  border: none;
  outline: 0;
}