.sec-jumbotron {
  background-image: resolve('bg_img.jpg');
  background-repeat: no-repeat;
  background-position: center  top;
  width: 100%;
  height: height('bg_img.jpg');
  position: relative;

  & .container {
    lost-center: 1170px;

    @media(max-width: 960px){
      lost-center: 960px;
    }
  }
  &::after {
    content: '';
    background-image: inline('bc-bottom.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: height('bc-bottom.png');
    bottom: -106px;
    position: absolute;
  }
}

.sec-jumbo__description {
  width: 77%;
  margin: 0 auto;
  background-color: color($menu-hover-color alpha(-45%));
  color: $jumbo-text;
  border-radius: 10px;
  text-align: center;
  padding: 3em 11.5em;
  margin-top: 108px;

  & h1 {
    font-size: 3vw;
     margin-bottom: 20px;
  }

  & p {
    font-size: 1.66rem;
  }
}

.sec-jumbo__buttons-wrapper {
  position: relative;
  width: 100%;
}

.sec-jumbo__button {
  position: absolute;
  top: 182px;
  cursor: pointer;

  & p {
    color: white;
    font-family: Exo;
    font-size: 25px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
  }

  &:hover {
    background: inline('button_hover.png');
  }
}

.sec-jumbo__button_download {
  background: resolve('button.png');
  width: width('button.png');
  height: height('button.png');
  left: 10%;
}

.sec-jumbo__button_learn {
  background: resolve('button.png');
  width: width('button.png');
  height: height('button.png');
  right: 10%;
}
