
header {
  width : 100%;
  background-color: white;
}

nav.nav-bar {
  display : flex;
  flex-flow : row wrap;
  max-width : 1170px;
  margin-left : auto;
  margin-right : auto;
  height : 80px;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}

.site-logo {
  flex : 0 0 auto;
  width : calc(99.99% * 6/12 - (30px - 30px * 6/12));
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  position: relative;
}

.site-logo:nth-child(1n) {
  margin-right : 30px;
  margin-left : 0;
}

.site-logo:last-child {
  margin-right : 0;
}

.site-logo:nth-child(12n) {
  margin-right : 0;
  margin-left : auto;
}

.site-logo img {
  margin: auto;
}

.nav-left-wrapper, .nav-right-wrapper {
  flex : 0 0 auto;
  width : calc(99.99% * 3/12 - (30px - 30px * 3/12));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-left-wrapper:nth-child(1n), .nav-right-wrapper:nth-child(1n) {
  margin-right : 30px;
  margin-left : 0;
}

.nav-left-wrapper:last-child, .nav-right-wrapper:last-child {
  margin-right : 0;
}

.nav-left-wrapper:nth-child(12n), .nav-right-wrapper:nth-child(12n) {
  margin-right : 0;
  margin-left : auto;
}

.menu-item {
   display: block;
   font-family: $font-exo;
   text-decoration: none;
   font-size : 15.008px;
   font-size: 0.938rem;
   line-height: 1.27;
   text-transform: uppercase;
   color: $menu-text-color;
   position: relative
 }

.menu-item::after {
  display : none;
  position : absolute;
  content : "";
  width : 14px;
  height : 15px;
  background : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAPCAYAAADUFP50AAABi0lEQVQoU51TQU7CUBCd+RCFXb0BxQv0BrIxaXfdUNxZTmC9QTmB9QTUndaFdUUTNxyBC9ByBJZI5I8zH5qIaDB285P578289+YX4YevunI7pCEGBAs15PZzkX6H4U/EcuDm+L4K7Xy6LAM3RQWx/VgsvmIPiFXg+UBk1VMqv2fRSSvpZkW4R5wHLktCi8HL3UXE3XKeIvIWoOGaEIfEtRrD9x0sA2/azSa9upuRBpgTQiI1JBprPhRt2OvbTGrzgRcxkYHrVSR+trLaFQHdq/UqMbW+G/LEkKckdjbJd8QEq/6lo1UzVPojJdVIiSA/z4pYLCDCBerNLTQaluZ0FUFUKzPhmNFANwwcMqAnxHLgsS1gWzRSCqZSF2+8Iqf7VDgoO9OE0XZiM2dgKkRJlyX7YgNaLYeVjHmnIzMRcXno8bQ9E/KeRwUREsa1R7Pn31Olu61UeJBzL1Xxb0KQvQBUBgjIAdBrvUexwXc+N3hRQEsNaHEeZ/9/OcfeKieeKKTk6FuVRn/5Oz4BAs39FI0nmSAAAAAASUVORK5CYII=');
  background-size : 14px 15px;
  top : 20px;
  left : 50%;
  -webkit-transform : translateX(-7px);
          transform : translateX(-7px);
}

 .menu-item:hover, .menu-item:focus {
   color: $menu-hover-color
 }

 .menu-item:hover::after, .menu-item:focus::after {
  display : block;
}

.nav-right-wrapper {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.site-logo-text {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size : 50px;
  font-size: 3.125rem;
  font-family: $font-exo;
  font-weight: bold;
  text-transform: uppercase;
  color:$menu-hover-color
}

.site-logo-text span {
  font-size : 33.008px;
  font-size : 2.063rem;
  color : $menu-text-color;
}

/*# sourceMappingURL=_header.css.map */
