include mixins
section.sec-features
  div.container
    div.sec-title
      h1.sec-title__title Awesome Features
      p.sec-title__title-sub Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    div.sec-features__items
      each x,y in sec_features__item_titles
          +item(x, sec_features__item_text, y)
