article.features-blog
  h1 Awesome Features
  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,nascetur
  section.feat-blog__items
    ul.feat-blog_elements
      li.feat-blog.element1
        h2.fea-blog_header Upload
          p.feat-blog_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ae nean commodo ligula eget dolor. Aenean massa. Cum sociis  natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque  eu, pretium quis, sem. Nulla consequat massa quis enim.  Donec pede justo, fringilla vel, aliquet nec
      li.feat-blog.element2
        h2.fea-blog_header Profile Page
          p.feat-blog_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ae nean commodo ligula eget dolor. Aenean massa. Cum sociis  natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque  eu, pretium quis, sem. Nulla consequat massa quis enim.  Donec pede justo, fringilla vel, aliquet nec
      li.feat-blog.element3
        h2.fea-blog_header Connect Chat
          p.feat-blog_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ae nean commodo ligula eget dolor. Aenean massa. Cum sociis   natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque  eu, pretium quis, sem. Nulla consequat massa quis enim.  Donec pede justo, fringilla vel, aliquet ne 
      li.feat-blog.element4
        h2.fea-blog_header Easy Settings
          p.feat-blog_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ae nean commodo ligula eget dolor. Aenean massa. Cum sociis  natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque  eu, pretium quis, sem. Nulla consequat massa quis enim.  Donec pede justo, fringilla vel, aliquet nec
      li.feat-blog.element5
        h2.fea-blog_header Fast Location
          p.feat-blog_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ae nean commodo ligula eget dolor. Aenean massa. Cum sociis  natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque  eu, pretium quis, sem. Nulla consequat massa quis enim.  Donec pede justo, fringilla vel, aliquet nec
      li.feat-blog.element6
        h2.fea-blog_header Profile Page
          p.feat-blog_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ae nean commodo ligula eget dolor. Aenean massa. Cum sociis   natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque  eu, pretium quis, sem. Nulla consequat massa quis enim.  Donec pede justo, fringilla vel, aliquet ne 