include mixins

section.sec-features
  div.container
    +sec-main-title("red", "Awesome Features")

    div.sec-features__items
      each x,y in sec_features__item_titles
          +item(x, sec_features__item_text, y)
