-var topmenu_left ={ "Home": "http://", "Features": "http://", "Coutdown": "http://"}
-var topmenu_right = { "Pricing": "http://", "Testimonials": "http://", "Contact": "http://"}
include mixins
header.main-header
  nav.nav-bar
    div.site-logo
       h1.logo-first-part
         |APP
       span.logo-second-part
         |mo
    div.nav-left-wrapper
      each i,z in topmenu_left
        +menu(i, z)
    div.nav-right-wrapper
      each i,z in topmenu_right
        +menu(i, z)
