header.main-header
  nav.nav-bar
    div.site-logo
       h1.logo-first-part
         |APP
       span.logo-second-part
         |mo
    div.nav-left-wrapper
      a(href="/") Home
      a(href="/") Features
      a(href="/") Coutdown
    div.nav-right-wrapper
      a(href="/") Pricing
      a(href="/") Testimonials
      a(href="/") Contact
