doctype html
html
  head
    title APPMO
    meta(charset="utf8")
    link(rel="stylesheet" href="./css/style.css")
  body
    include header
    include jumbo
    include features
    include newsletter
