section.sec-jumbo
  div.container
    div.sec-jumbo__desc
      h1.sec-jumbo__heading Lorem ipsum dolor sit
      p.sec-jumbo__text sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, epellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec

    div.sec-jumbo__btns-wrapper
      button.sec-jumbo__btn.sec-jumbo__btn_download
        p.sec-jumbo__btn-text Download now
      button.sec-jumbo__btn.sec-jumbo__btn_learn
        p.sec-jumbo__btn-text Learn more
