section.sec-newsletter
  div.container
    div.sec-newsletter__desc-wrapper
      h1.sec__title Newsletter
      p.sec__title-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
    form.sec-newsletter__email-form
      input.sec-newsletter__input-adres(type='text', value='E-mail adres..')
