section.sec-jumbotron
  div.container
    div.sec-jumbo__description
      h1.desc__heading Lorem ipsum dolor sit
      p sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec
    div.buttons
      button.button_left
      button.button_right