section.sec-jumbotron
  div.container
    div.sec-jumbo__description
      h1.desc__heading Lorem ipsum dolor sit
      p sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, epellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec
    div.sec-jumbo__buttons-wrapper
      button.sec-jumbo__button.sec-jumbo__button_download
        p DOWNLOAD NOW
      button.sec-jumbo__button.sec-jumbo__button_learn
        p LEARN MORE
